Repository BinaryStudioAcademy/bsa-2023-writorium, pull requests merged in 2023-08, with the labels that each got.

#13 wr-03: Add db schema to readme
  readme.md
  tsconfig.json
Labels: development, root, wr-v1

#18 wr-17: Add custom editor config rules for eslint plugin hint to readme
  readme.md
Labels: development, root, wr-v1

#23 wr-22: add typescript scss modules plugin
  frontend/package.json
  frontend/tsconfig.json
  package-lock.json
Labels: development, frontend, root

#27 wr-01: Fix frontend stylelint config file location
  frontend/.stylelintrc.yml
Labels: development, wr-v1

#33 wr-01: Fix CI-PR action config
  .github/workflows/ci-pr.yml
Labels: development, workflows, wr-v1

#24 wr-11: Protected Routing | FE
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, frontend, shared, wr-v1

#26 wr-16: Landing Page
  frontend/package.json
  frontend/public/fonts/lato-bold.woff
  frontend/public/fonts/lato-bold.woff2
  frontend/public/fonts/lato-regular.woff
  frontend/public/fonts/lato-regular.woff2
  frontend/public/fonts/libre-baskerville-bold.woff
  frontend/public/fonts/libre-baskerville-bold.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/background-leters.png
  frontend/src/assets/img/background-typewriter.jpg
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/get-axis-offset/get-axis-offset.helper.ts
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-mouse-position/use-mouse-position.hook.ts
  frontend/src/pages/landing/landing.tsx
  frontend/src/pages/landing/styles.module.scss
  package-lock.json
Labels: development, frontend, root, wr-v1

#32 wr-20: Error handling | FE
  frontend/package.json
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/notification/notification.tsx
  frontend/src/libs/enums/components/notification/notification-position.enum.ts
  frontend/src/libs/enums/components/notification/notification-theme.enum.ts
  frontend/src/libs/enums/components/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/notification-middleware.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/notification/libs/enums/enums.ts
  frontend/src/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/packages/notification/libs/types/notification-payload.type.ts
  frontend/src/packages/notification/libs/types/types.ts
  frontend/src/packages/notification/notification.package.ts
  frontend/src/packages/notification/notification.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  package-lock.json
Labels: development, frontend, root

#39 wr-19: Loader Component
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: development, frontend, wr-v1

#34 wr-5: Sign In | BE
  backend/src/libs/packages/exceptions/exceptions.ts
  backend/src/libs/packages/exceptions/user-not-found-error/user-not-found-error.exception.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: development, backend, shared, wr-v1

#38 wr-15: Header component
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/avatar/avatar.tsx
  frontend/src/libs/components/avatar/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/helpers/get-first-letters/get-first-letters.helper.ts
  frontend/src/libs/helpers/helpers.ts
Labels: development, frontend

#46 wr-41: Create icon component
  frontend/package.json
  frontend/src/assets/img/icons/arrow-down-icon.svg
  frontend/src/assets/img/icons/arrow-up-icon.svg
  frontend/src/assets/img/icons/bell-icon.svg
  frontend/src/assets/img/icons/comment-icon.svg
  frontend/src/assets/img/icons/cross-mark-icon.svg
  frontend/src/assets/img/icons/dislike-icon.svg
  frontend/src/assets/img/icons/favorite-icon.svg
  frontend/src/assets/img/icons/format-text-align-center-icon.svg
  frontend/src/assets/img/icons/format-text-align-left-icon.svg
  frontend/src/assets/img/icons/format-text-align-right-icon.svg
  frontend/src/assets/img/icons/format-text-bold-icon.svg
  frontend/src/assets/img/icons/format-text-italic-icon.svg
  frontend/src/assets/img/icons/format-text-strike-through-icon.svg
  frontend/src/assets/img/icons/format-text-underline-icon.svg
  frontend/src/assets/img/icons/format-text-upperline-icon.svg
  frontend/src/assets/img/icons/hide-icon.svg
  frontend/src/assets/img/icons/image-icon.svg
  frontend/src/assets/img/icons/like-icon.svg
  frontend/src/assets/img/icons/link-icon.svg
  frontend/src/assets/img/icons/notes-icon.svg
  frontend/src/assets/img/icons/refresh-icon.svg
  frontend/src/assets/img/icons/renew-icon.svg
  frontend/src/assets/img/icons/search-icon.svg
  frontend/src/assets/img/icons/share-icon.svg
  frontend/src/assets/img/icons/sparkles-icon.svg
  frontend/src/assets/img/icons/star-icon.svg
  frontend/src/assets/img/icons/view-icon.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Labels: development, frontend, root

#37 wr-7: Sign Up | BE
  backend/package.json
  backend/src/db/migrations/20230821120000_create_user_details_table.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/types/encrypt-config.type.ts
  backend/src/libs/packages/config/libs/types/types.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/encrypt/encrypt.package.ts
  backend/src/libs/packages/encrypt/encrypt.ts
  backend/src/libs/packages/encrypt/libs/interfaces/encrypt.interface.ts
  backend/src/libs/packages/encrypt/libs/interfaces/interfaces.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  package-lock.json
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: development, backend, frontend, shared, root, wr-v1

#36 wr-14: + add user profile page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/index.tsx
  frontend/src/libs/components/avatar/avatar.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/enums/button-type.enum.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/pages/profile/profile.tsx
  frontend/src/pages/profile/styles.module.scss
Labels: development, frontend, wr-v1

#55 wr-21: Add select component
  frontend/package.json
  frontend/src/assets/img/icons/arrow-down-icon.svg
  frontend/src/libs/components/select/libs/components/components.tsx
  frontend/src/libs/components/select/libs/constants/constants.ts
  frontend/src/libs/components/select/libs/constants/select.styles.ts
  frontend/src/libs/components/select/libs/enums/colors.enum.ts
  frontend/src/libs/components/select/libs/enums/enums.ts
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/libs/types/select-option.type.ts
  frontend/src/libs/types/types.ts
  package-lock.json
Labels: development, frontend, root

#48 wr-6: Sign In | FE
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/hide-icon.svg
  frontend/src/assets/img/icons/view-icon.svg
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/input-type.enum.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/auth/auth-api.package.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/libs/constants/constants.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/users.ts
Labels: development, frontend, shared

#67 wr-04: setup application deployment
  .github/workflows/cd.yml
  backend/.env.example
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  frontend/package.json
  package-lock.json
  package.json
  prepare-build.sh
Labels: development, backend, frontend, root, workflows, ENV, wr-v1

#44 wr-9: Authorization Token
  backend/.env.example
  backend/package.json
  backend/src/index.d.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/interfaces/authconfig.interface.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/server-application/libs/constants/constants.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
  backend/src/libs/packages/server-application/libs/types/white-route.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/packages/token/token.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/authorization.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  backend/tsconfig.json
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.ts
  package-lock.json
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Labels: development, backend, frontend, shared, root, ENV, wr-v1

#69 wr-04: FE pages are not shown because blocked by auth plugin
  backend/src/libs/packages/server-application/libs/constants/constants.ts
Labels: development, backend, wr-v1

#71 wr-04: Add swagger routes to whitelist
  backend/src/libs/packages/server-application/libs/constants/constants.ts
Labels: development, backend

#59 wr-31: Implement article saving logic | BE
  backend/src/db/migrations/20230822132525_create_articles_table.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/helpers/compose-database-relation-path/compose-database-relation-path.helper.ts
  backend/src/libs/packages/database/libs/helpers/helpers.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/types/types.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  frontend/src/assets/img/icons/hide-icon.svg
  frontend/src/assets/img/icons/view-icon.svg
  frontend/src/libs/packages/store/store.package.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/libs/types/types.ts
  shared/src/libs/types/with-nullable-keys.type.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/article-validation-message.enum.ts
  shared/src/packages/articles/libs/enums/article-validation-rule.enum.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
  shared/src/packages/articles/libs/enums/enums.ts
  shared/src/packages/articles/libs/types/article-base-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-create-dto.type.ts
  shared/src/packages/articles/libs/types/article-entity.type.ts
  shared/src/packages/articles/libs/types/article-request-dto.type.ts
  shared/src/packages/articles/libs/types/article-update-request-dto.type.ts
  shared/src/packages/articles/libs/types/types.ts
  shared/src/packages/articles/libs/validation-schemas/article-create.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/article-update.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/validation-schemas.ts
Labels: development, backend, frontend, shared, wr-v1

#64 wr-57: Create common ErrorMessage Component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/error-message/error-message.tsx
  frontend/src/libs/components/error-message/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
Labels: development, frontend, wr-v1

#83 wr-04: unlock all swagger doc routes
  backend/src/libs/packages/server-application/libs/constants/constants.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/libs/types/white-route.type.ts
  backend/src/libs/packages/server-application/server-app-api.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/packages/token/libs/interfaces/interfaces.ts
  backend/src/libs/packages/token/libs/interfaces/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/packages/token/token.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/libs/constants/constants.ts
  backend/src/libs/plugins/authorization/libs/constants/served-page.path.constants.ts
  backend/src/packages/users/users.ts
Labels: development, backend, wr-v1

#78 wr-12: get current user upon page refresh
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/packages/auth/auth.controller.ts
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/public-route/public-route.tsx
  frontend/src/packages/auth/auth-api.package.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Labels: development, backend, frontend, shared

#58 wr-42: files uploading
  backend/.env.example
  backend/package.json
  backend/src/db/migrations/20230823185806_create_files_table.ts
  backend/src/index.d.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/exceptions/exceptions.ts
  backend/src/libs/packages/exceptions/file-not-provided-error/file-not-provided-error.exception.ts
  backend/src/libs/packages/exceptions/file-size-limit-exceeded-error/file-size-limit-exceeded-error.exception.ts
  backend/src/libs/packages/exceptions/unsupported-file-type-error/unsupported-file-type-error.exception.ts
  backend/src/libs/packages/file/file.package.ts
  backend/src/libs/packages/file/libs/constants/constants.ts
  backend/src/libs/packages/file/libs/enums/enums.ts
  backend/src/libs/packages/file/libs/enums/file-type.enum.ts
  backend/src/libs/packages/file/libs/helpers/convert-mb-to-bytes.helper.ts
  backend/src/libs/packages/file/libs/helpers/get-file-extension-from-filename.helper.ts
  backend/src/libs/packages/file/libs/helpers/helpers.ts
  backend/src/libs/packages/file/libs/interfaces/file-upload-client.interface.ts
  backend/src/libs/packages/file/libs/interfaces/interfaces.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/libs/plugins/file-upload/file-upload.ts
  backend/src/libs/plugins/file-upload/libs/enums/enums.ts
  backend/src/libs/plugins/file-upload/libs/enums/file-upload-decorated-property.enum.ts
  backend/src/libs/plugins/file-upload/libs/types/file-to-upload.type.ts
  backend/src/libs/plugins/file-upload/libs/types/types.ts
  backend/src/packages/files/file-upload-client.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/files/file.entity.ts
  backend/src/packages/files/file.model.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/enums/enums.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/files-api-path.enum.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
Labels: development, backend, shared, root, ENV

#54 wr-51: implement article card component
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/article-preview.png
  frontend/src/libs/components/avatar/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/tag/styles.module.scss
  frontend/src/libs/components/tag/tag.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/libs/types/article.type.ts
  frontend/src/pages/articles/components/article-card/libs/types/tag.type.ts
  frontend/src/pages/articles/components/article-card/libs/types/types.ts
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/profile/styles.module.scss
Labels: development, frontend

#63 wr-53: Implement author component on article page
  frontend/public/fonts/raleway-bold.woff
  frontend/public/fonts/raleway-bold.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/article/article.tsx
  frontend/src/pages/article/components/author/author.tsx
  frontend/src/pages/article/components/author/styles.module.scss
Labels: development, frontend

#79 wr-66: Add password comparison upon Sign In
  backend/src/libs/packages/encrypt/encrypt.package.ts
  backend/src/libs/packages/encrypt/libs/interfaces/encrypt.interface.ts
  backend/src/libs/packages/exceptions/exceptions.ts
  backend/src/libs/packages/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-private-data.type.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.service.ts
Labels: development, backend

#85 wr-76: article prompt generation using openai
  backend/.env.example
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/exceptions/exceptions.ts
  backend/src/libs/packages/exceptions/failed-to-generate-prompt-error/failed-to-generate-prompt-error.exception.ts
  backend/src/libs/packages/openai/libs/types/completion-config.type.ts
  backend/src/libs/packages/openai/libs/types/types.ts
  backend/src/libs/packages/openai/openai.package.ts
  backend/src/libs/packages/openai/openai.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/prompts/libs/constants/constants.ts
  backend/src/packages/prompts/libs/enums/enums.ts
  backend/src/packages/prompts/libs/types/generated-article-prompt.type.ts
  backend/src/packages/prompts/libs/types/types.ts
  backend/src/packages/prompts/prompt.controller.ts
  backend/src/packages/prompts/prompt.service.ts
  backend/src/packages/prompts/prompts.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/prompts/libs/enums/enums.ts
  shared/src/packages/prompts/libs/enums/prompts-api-path.enum.ts
  shared/src/packages/prompts/prompts.ts
Labels: development, backend, shared, root, ENV

#91 wr-88: Public and protected routes changes
  frontend/src/index.tsx
  frontend/src/libs/components/public-route/public-route.tsx
  frontend/src/pages/auth/auth.tsx
Labels: development, frontend, wr-v1

#87 wr-72: Create genres table
  backend/src/db/migrations/20230828103237_create_genres_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/genres/genre.controller.ts
  backend/src/packages/genres/genre.entity.ts
  backend/src/packages/genres/genre.model.ts
  backend/src/packages/genres/genre.repository.ts
  backend/src/packages/genres/genre.service.ts
  backend/src/packages/genres/genre.ts
  backend/src/packages/genres/lib/enums/enums.ts
  backend/src/packages/genres/lib/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/genres/genres.ts
  shared/src/packages/genres/libs/enums/enums.ts
  shared/src/packages/genres/libs/enums/genres-api-path.ts
  shared/src/packages/genres/libs/types/genre-get-all-item-response-dto.types.ts
  shared/src/packages/genres/libs/types/genre-get-all-response-dto.type.ts
  shared/src/packages/genres/libs/types/types.ts
Labels: development, backend, shared, wr-v1

#94 wr-60: Edit User Profile functionality
  backend/src/libs/enums/enums.ts
  backend/src/libs/enums/exception-message.enum.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/packages/auth/auth-api.package.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/profile/components/components.ts
  frontend/src/pages/profile/components/profile-edit-form/profile-edit-form.tsx
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
  frontend/src/pages/profile/profile.tsx
  frontend/src/pages/profile/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
  shared/src/index.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared

#97 wr-92: Fix background images paths on auth pages
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/landing/styles.module.scss
  frontend/vite.config.ts
Labels: development, frontend, wr-v1

#70 wr-52: Add ArticleView component
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/article-banner.jpg
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/types/article.type.ts
  frontend/src/libs/types/tag.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/article/article.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/components/author/author.tsx
  frontend/src/pages/article/components/author/styles.module.scss
Labels: development, frontend

#96 wr-90: detect genre from article text
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/openai/libs/types/completion-config.type.ts
  backend/src/libs/packages/openai/openai.package.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/libs/constants/constants.ts
  backend/src/packages/articles/libs/helpers/get-detect-article-genre-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/articles/libs/types/detected-article-genre.type.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/genres/genre.entity.ts
  backend/src/packages/genres/genre.repository.ts
  backend/src/packages/genres/lib/types/types.ts
  backend/src/packages/prompts/libs/types/types.ts
  backend/src/packages/prompts/prompt.service.ts
  shared/src/index.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/safe-json-parse/safe-json-parse.helper.ts
  shared/src/packages/articles/libs/enums/article-validation-message.enum.ts
  shared/src/packages/articles/libs/types/article-entity.type.ts
  shared/src/packages/articles/libs/validation-schemas/article-create.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/article-update.validation-schema.ts
  shared/src/packages/genres/genres.ts
  shared/src/packages/genres/libs/types/genre-entity.type.ts
  shared/src/packages/genres/libs/types/types.ts
  shared/src/packages/prompts/libs/types/generate-article-prompt-response-dto.type.ts
  shared/src/packages/prompts/libs/types/generated-article-prompt.type.ts
  shared/src/packages/prompts/libs/types/types.ts
  shared/src/packages/prompts/prompts.ts
Labels: development, backend, shared

#98 wr-82: Attach authorized user to the header
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/helpers/get-full-name/get-full-name.helper.ts
  frontend/src/libs/helpers/helpers.ts
Labels: development, frontend

#61 wr-29: Prompt generation component
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/prompt-generation/libs/components/components.tsx
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/prompt-card.tsx
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/prompts/libs/enums/enums.ts
  frontend/src/packages/prompts/libs/types/types.ts
  frontend/src/packages/prompts/prompts-api.package.ts
  frontend/src/packages/prompts/prompts.ts
  frontend/src/slices/prompts/actions.ts
  frontend/src/slices/prompts/prompts.slice.ts
  frontend/src/slices/prompts/prompts.ts
  shared/src/index.ts
  shared/src/packages/prompts/libs/enums/enums.ts
  shared/src/packages/prompts/libs/enums/prompt-category.enum.ts
  shared/src/packages/prompts/libs/types/generated-article-prompt.type.ts
  shared/src/packages/prompts/prompts.ts
Labels: development, frontend, shared, wr-v1

#115 wr-106: Article page doesn't match the design
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/layout/layout.tsx
  frontend/src/libs/components/layout/styles.module.scss
  frontend/src/pages/article/article.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/articles-page.tsx
  frontend/src/pages/profile/profile.tsx
Labels: development, frontend, wr-v1
