Repository BinaryStudioAcademy/bsa-2023-writorium, pull requests merged in 2023-09, with the labels that each got.

#99 wr-8: sign up bugfixes
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Labels: development, frontend

#102 wr-93: Add requirements for email, password, first and last name
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/users/user.controller.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: development, backend, shared, wr-v1

#121 wr-112: on articles page articles/feed should be open by default
  frontend/src/index.tsx
Labels: development, frontend

#105 wr-81: Fix resources fetching on landing page
  frontend/src/pages/landing/landing.tsx
  frontend/src/pages/landing/styles.module.scss
Labels: development, frontend

#123 wr-93: Add one-or-more indicator to patterns
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: development, shared, wr-v1

#128 wr-75: Implement logic to get all/user's articles
  .eslintrc.yml
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/helpers/get-where-user-id-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/articles/libs/types/types.ts
  frontend/.eslintrc.yml
  frontend/src/index.tsx
  frontend/src/libs/components/avatar/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/enums/article-sub-route.enum.ts
  frontend/src/libs/helpers/format-short-date/format-short-date.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/articles-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/libs/constants.ts
  frontend/src/pages/articles/libs/types/article.type.ts
  frontend/src/pages/articles/libs/types/reactions.type.ts
  frontend/src/pages/articles/libs/types/types.ts
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/sorting-order.enum.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/article-validation-message.enum.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
  shared/src/packages/articles/libs/types/article-get-all-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-with-author.type.ts
  shared/src/packages/articles/libs/types/types.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/libs/types/user-details-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared

#124 wr-114: Redirection to feed page
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/public-route/public-route.tsx
Labels: development, frontend, wr-v1

#133 wr-93: Change password pattern validation
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: development, shared, wr-v1

#141 wr-80: password validation messages changes
  package-lock.json
  shared/src/packages/auth/libs/validation-schemas/reset-password.validation-schema.ts
Labels: development, shared, root

#100 wr-73: Create Comments Table
  backend/src/db/migrations/20230829161512_create_comments_table.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/comments/comment.controller.ts
  backend/src/packages/comments/comment.entity.ts
  backend/src/packages/comments/comment.model.ts
  backend/src/packages/comments/comment.repository.ts
  backend/src/packages/comments/comment.service.ts
  backend/src/packages/comments/comments.ts
  backend/src/packages/comments/libs/enums/enums.ts
  backend/src/packages/comments/libs/types/types.ts
  backend/src/packages/comments/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/comments/comments.ts
  shared/src/packages/comments/libs/enums/comment-validation-message.enum.ts
  shared/src/packages/comments/libs/enums/comments-api-path.enum.ts
  shared/src/packages/comments/libs/enums/enums.ts
  shared/src/packages/comments/libs/types/comment-base-request-dto.type.ts
  shared/src/packages/comments/libs/types/comment-base-response-dto.type.ts
  shared/src/packages/comments/libs/types/comment-create-dto.type.ts
  shared/src/packages/comments/libs/types/comment-entity.type.ts
  shared/src/packages/comments/libs/types/comment-get-all-request-dto.type.ts
  shared/src/packages/comments/libs/types/comment-get-all-response.dto.type.ts
  shared/src/packages/comments/libs/types/comment-update-dto.type.ts
  shared/src/packages/comments/libs/types/comment-update-request-dto.type.ts
  shared/src/packages/comments/libs/types/types.ts
  shared/src/packages/comments/libs/validation-schemas/comment-create.validation-schema.ts
  shared/src/packages/comments/libs/validation-schemas/comment-update.validation-schema.ts
  shared/src/packages/comments/libs/validation-schemas/validation-schemas.ts
Labels: development, backend, shared

#135 wr-8: * fix input placeholder color
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/input/styles.module.scss
Labels: development, frontend

#119 wr-107: Add Write link to header
  frontend/src/index.tsx
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/components/public-route/public-route.tsx
  frontend/src/libs/enums/app-route.enum.ts
Labels: development, frontend, wr-v1

#134 wr-103: rich text editor
  frontend/.eslintrc.yml
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/format-header-1-icon.svg
  frontend/src/assets/img/icons/format-header-2-icon.svg
  frontend/src/assets/img/icons/format-header-3-icon.svg
  frontend/src/assets/img/icons/format-header-4-icon.svg
  frontend/src/assets/img/icons/format-header-5-icon.svg
  frontend/src/assets/img/icons/format-header-6-icon.svg
  frontend/src/assets/img/icons/format-list-bulleted-icon.svg
  frontend/src/assets/img/icons/format-list-numbered-icon.svg
  frontend/src/assets/img/icons/format-text-align-justify.svg
  frontend/src/assets/img/icons/format-text-bold-icon.svg
  frontend/src/libs/components/article-form/article-form.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/text-editor/libs/components/components.ts
  frontend/src/libs/components/text-editor/libs/components/toggle-buttons-group/styles.module.scss
  frontend/src/libs/components/text-editor/libs/components/toggle-buttons-group/toggle-buttons-group.tsx
  frontend/src/libs/components/text-editor/libs/components/toolbar/styles.module.scss
  frontend/src/libs/components/text-editor/libs/components/toolbar/toolbar.tsx
  frontend/src/libs/components/text-editor/libs/constants/constants.ts
  frontend/src/libs/components/text-editor/libs/constants/editor.ts
  frontend/src/libs/components/text-editor/libs/constants/toolbar.ts
  frontend/src/libs/components/text-editor/libs/enums/enums.ts
  frontend/src/libs/components/text-editor/libs/enums/header-level.ts
  frontend/src/libs/components/text-editor/libs/enums/list-type.ts
  frontend/src/libs/components/text-editor/libs/enums/text-alignment.ts
  frontend/src/libs/components/text-editor/libs/enums/text-decoration.ts
  frontend/src/libs/components/text-editor/libs/enums/text-style.ts
  frontend/src/libs/components/text-editor/libs/extensions/extenstions.ts
  frontend/src/libs/components/text-editor/libs/extensions/upperline/libs/constants/constants.ts
  frontend/src/libs/components/text-editor/libs/extensions/upperline/libs/types/types.ts
  frontend/src/libs/components/text-editor/libs/extensions/upperline/libs/types/upperline-options.type.ts
  frontend/src/libs/components/text-editor/libs/extensions/upperline/upperline.extension.ts
  frontend/src/libs/components/text-editor/libs/types/toolbar-button-properties.type.ts
  frontend/src/libs/components/text-editor/libs/types/types.ts
  frontend/src/libs/components/text-editor/styles.module.scss
  frontend/src/libs/components/text-editor/text-editor.tsx
  frontend/src/libs/components/textarea/styles.module.scss
  frontend/src/libs/components/textarea/textarea.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/sanitize-html/sanitize-html.helper.ts
  package-lock.json
Labels: development, frontend, root

#125 wr-111: Add Prompt Generation Component to Create Article page
  backend/package.json
  backend/src/db/migrations/20230904051755_create_prompts_table.ts
  backend/src/libs/helpers/convert-to-snake-case/convert-to-snake-case.helper.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/prompts/libs/enums/enums.ts
  backend/src/packages/prompts/libs/types/types.ts
  backend/src/packages/prompts/libs/validation-schemas/prompt-create.validation-schema.ts
  backend/src/packages/prompts/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/prompts/prompt.controller.ts
  backend/src/packages/prompts/prompt.entity.ts
  backend/src/packages/prompts/prompt.model.ts
  backend/src/packages/prompts/prompt.repository.ts
  backend/src/packages/prompts/prompt.service.ts
  backend/src/packages/prompts/prompts.ts
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/packages/prompts/libs/enums/enums.ts
  frontend/src/packages/prompts/libs/helpers/get-generated-prompt-payload.helper.ts
  frontend/src/packages/prompts/libs/helpers/helpers.ts
  frontend/src/packages/prompts/libs/types/types.ts
  frontend/src/packages/prompts/prompts-api.package.ts
  frontend/src/packages/prompts/prompts.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/article.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/constants/constants.ts
  frontend/src/pages/article/components/article-form/libs/enums/article-form-submit-type.enum.ts
  frontend/src/pages/article/components/article-form/libs/enums/enums.ts
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/components.ts
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/prompts/prompts.slice.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/prompts/libs/enums/enums.ts
  shared/src/packages/prompts/libs/enums/prompt-type.enum.ts
  shared/src/packages/prompts/libs/types/prompt-base-response-dto.type.ts
  shared/src/packages/prompts/libs/types/prompt-request-dto.type.ts
  shared/src/packages/prompts/libs/types/prompt.type.ts
  shared/src/packages/prompts/libs/types/types.ts
  shared/src/packages/prompts/prompts.ts
Labels: development, backend, frontend, shared, root, wr-v1

#144 wr-139: Add responsive for Sign In/Up pages
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/landing/landing.tsx
  frontend/src/pages/landing/styles.module.scss
Labels: development, frontend

#143 wr-132: Add date-fns package for dates
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/helpers/format-short-date/format-short-date.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/article/components/author/author.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/enums/date-format.enum.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.ts
  shared/src/libs/helpers/helpers.ts
Labels: development, frontend, shared, root, wr-v2

#148 wr-80: fix-send-reset-password-email
  backend/package.json
Labels: development, backend

#149 wr-140: Apply status 4xx on Errors from authorization flow
  backend/src/libs/packages/exceptions/email-failed-to-send/email-failed-to-send.exception.ts
  backend/src/libs/packages/exceptions/failed-to-generate-prompt-error/failed-to-generate-prompt-error.exception.ts
  backend/src/libs/packages/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/libs/packages/exceptions/user-not-found-error/user-not-found-error.exception.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/auth/components/forgot-password-form/forgot-password-form.tsx
  frontend/src/pages/auth/components/reset-password-form/reset-password-form.tsx
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Labels: development, backend, frontend, shared, wr-v2

#104 wr-77: Implement articles reactions flow
  backend/src/db/migrations/20230828115851_create_article_reactions_table.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/article-reactions/article-reaction.controller.ts
  backend/src/packages/article-reactions/article-reaction.entity.ts
  backend/src/packages/article-reactions/article-reaction.model.ts
  backend/src/packages/article-reactions/article-reaction.repository.ts
  backend/src/packages/article-reactions/article-reaction.service.ts
  backend/src/packages/article-reactions/article-reactions.ts
  backend/src/packages/article-reactions/libs/helpers/get-reactions-query.helper.ts
  backend/src/packages/article-reactions/libs/helpers/helpers.ts
  backend/src/packages/article-reactions/libs/types/types.ts
  backend/src/packages/article-reactions/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/articles/article.model.ts
  shared/src/index.ts
  shared/src/packages/article-reactions/article-reactions.ts
  shared/src/packages/article-reactions/libs/enums/article-reaction-validation-message.enum.ts
  shared/src/packages/article-reactions/libs/enums/enums.ts
  shared/src/packages/article-reactions/libs/types/article-reaction-create-dto.type.ts
  shared/src/packages/article-reactions/libs/types/article-reaction-create-response-dto.type.ts
  shared/src/packages/article-reactions/libs/types/article-reaction-request-dto.type.ts
  shared/src/packages/article-reactions/libs/types/article-reaction-response-dto.type.ts
  shared/src/packages/article-reactions/libs/types/article-reaction.entity.ts
  shared/src/packages/article-reactions/libs/types/types.ts
  shared/src/packages/article-reactions/libs/validation-schemas/article-reaction.validation-schema.ts
  shared/src/packages/article-reactions/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
Labels: development, backend, shared, wr-v1

#126 wr-108: Create dropdown with actions on header user avatar
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/dropdown/dropdown.tsx
  frontend/src/libs/components/header/dropdown/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/popover/popover.tsx
  frontend/src/libs/hooks/hooks.ts
  shared/src/packages/articles/libs/enums/article-validation-message.enum.ts
Labels: development, frontend, shared, conflicts

#160 wr-140: Fix 500 error during registration
  backend/src/libs/enums/exception-message.enum.ts
  backend/src/libs/packages/exceptions/bad-request-error/bad-request-error.exception.ts
  backend/src/libs/packages/exceptions/email-failed-to-send/email-failed-to-send.exception.ts
  backend/src/libs/packages/exceptions/exceptions.ts
  backend/src/libs/packages/exceptions/failed-to-generate-prompt-error/failed-to-generate-prompt-error.exception.ts
  backend/src/libs/packages/exceptions/file-not-provided-error/file-not-provided-error.exception.ts
  backend/src/libs/packages/exceptions/forbidden-error/forbidden-error.exception.ts
  backend/src/libs/packages/exceptions/internal-server-error/internal-server-error.exception.ts
  backend/src/libs/packages/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/libs/packages/exceptions/not-found-error/not-found-error.exception.ts
  backend/src/libs/packages/exceptions/unauthorized-error/unauthorized-error.exception.ts
  backend/src/libs/packages/exceptions/user-not-found-error/user-not-found-error.exception.ts
  backend/src/libs/packages/google-auth-client/google-auth-client.package.ts
  backend/src/libs/packages/mailer/mailer.package.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/comments/comment.service.ts
  backend/src/packages/prompts/prompt.service.ts
  backend/src/packages/users/user.service.ts
  package-lock.json
Labels: development, backend, root, wr-v2

#150 wr-8: fix input placeholder opacity
  frontend/src/assets/css/variables.scss
Labels: development, frontend

#158 wr-29: Fix prompt generation component
  frontend/src/libs/components/prompt-generation/libs/components/components.tsx
  frontend/src/libs/components/prompt-generation/libs/components/dot-loader/dot-loader.tsx
  frontend/src/libs/components/prompt-generation/libs/components/dot-loader/styles.module.scss
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/prompt-card.tsx
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
Labels: development, frontend

#127 wr-120: Update app logo and icon
  frontend/public/feather-pen.svg
  frontend/src/assets/img/icons/writorium-logo-icon.svg
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
Labels: development, frontend, wr-v1

#164 wr-60: Fix buttons design
  frontend/src/pages/profile/components/profile-edit-form/profile-edit-form.tsx
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
Labels: development, frontend

#154 wr-147: Display created Article with formatting
  backend/src/db/migrations/20230906064951_update_genres_keys.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  package-lock.json
Labels: development, backend, frontend, root

#175 wr-152: Read more article link
  frontend/src/pages/articles/components/article-card/article-card.tsx
Labels: development, frontend

#162 wr-153: make-email-case-insensitive
  backend/src/db/migrations/20230906150722_make_users_email_index.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
Labels: development, backend

#168 wr-80: fix-add-hide-show-password-button
  frontend/src/pages/auth/components/reset-password-form/reset-password-form.tsx
Labels: development, frontend

#156 wr-136: Show achievements on Profile
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/tooltip/block-with-tooltip.tsx
  frontend/src/libs/components/tooltip/element-with-tooltip.tsx
  frontend/src/libs/components/tooltip/styles.module.scss
  frontend/src/libs/components/tooltip/tooltip-wrapper.tsx
  frontend/src/libs/components/tooltip/tooltip.ts
  frontend/src/libs/enums/data-tooltip-id.enum.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/tooltip-position.enum.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/achievements/achievements-api.package.ts
  frontend/src/packages/achievements/achievements.ts
  frontend/src/packages/achievements/libs/enums/enums.ts
  frontend/src/packages/achievements/libs/types/types.ts
  frontend/src/pages/profile/components/achievement-list/achievement-list.tsx
  frontend/src/pages/profile/components/achievement-list/styles.module.scss
  frontend/src/pages/profile/components/achievement-tooltip-content/achievement-tooltip-content.tsx
  frontend/src/pages/profile/components/achievement/achievement.tsx
  frontend/src/pages/profile/components/achievement/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/pages/profile/components/components.ts
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/components/user-info/user-info.tsx
  frontend/src/pages/profile/constants/constants.ts
  frontend/src/pages/profile/libs/constants/constants.ts
  frontend/src/pages/profile/libs/enums/enums.ts
  frontend/src/pages/profile/libs/enums/progress-status-class.enum.ts
  frontend/src/pages/profile/libs/helpers/get-progress-style-class.helper.ts
  frontend/src/pages/profile/libs/helpers/get-random-number.ts
  frontend/src/pages/profile/libs/helpers/helpers.ts
  frontend/src/pages/profile/libs/types/types.ts
  frontend/src/pages/profile/libs/types/user-achievement.ts
  frontend/src/pages/profile/profile-page.tsx
  frontend/src/pages/profile/profile.tsx
  frontend/src/pages/profile/styles.module.scss
  frontend/src/slices/achievements/achievements.slice.ts
  frontend/src/slices/achievements/achievements.ts
  frontend/src/slices/achievements/actions.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/helpers/get-shuffled-array/get-shuffled-array.helper.ts
  shared/src/libs/helpers/helpers.ts
Labels: development, frontend, shared, root

#155 wr-146: link-prompt-to-articles
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/comments/comment.entity.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/tags/styles.module.scss
  frontend/src/pages/articles/components/tags/tags.tsx
  frontend/src/pages/articles/libs/constants.ts
  frontend/src/pages/articles/libs/helpers/get-article-tags.ts
  frontend/src/pages/articles/libs/helpers/helpers.ts
  frontend/src/pages/articles/libs/types/tag.type.ts
  frontend/src/pages/articles/my-articles.tsx
  package-lock.json
  shared/src/packages/articles/libs/types/article-with-author.type.ts
  shared/src/packages/comments/libs/types/comment-entity.type.ts
Labels: development, backend, frontend, shared, root

#176 wr-171: Fix Articles Feed should show only published articles
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/helpers/get-where-published-only-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
Labels: development, backend, bug

#178 wr-01: Fix corrupted package lock
  backend/.env.example
  frontend/.env.example
  package-lock.json
Labels: development, root, ENV, bug, wr-v2

#180 wr-146: fix-null-prompts-display
  backend/src/packages/articles/article.repository.ts
  shared/src/packages/articles/libs/types/article-with-author.type.ts
Labels: development, backend, shared, bug

#68 wr-65: add comment card component
  backend/src/packages/comments/comment.entity.ts
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/avatar/styles.module.scss
  frontend/src/libs/components/comment-card/comment-card.tsx
  frontend/src/libs/components/comment-card/styles.module.scss
  frontend/src/libs/components/comments/comments.tsx
  frontend/src/libs/components/comments/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/helpers/get-publication-time/get-publication-time.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/comments/comments.ts
  frontend/src/packages/comments/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/time-unit.enum.ts
  shared/src/libs/helpers/get-date-difference-with-unit/get-date-difference-with-unit.helper.ts
  shared/src/libs/helpers/helpers.ts
Labels: development, backend, frontend, shared, wr-v1

#181 wr-110: Fix Article page data view
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
Labels: development, frontend, wr-v1, bug

#182 wr-80: fix-forgot-password-title
  frontend/src/pages/auth/components/forgot-password-form/forgot-password-form.tsx
Labels: development, frontend

#157 wr-130: Add facebook integration
  backend/.env.example
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/facebook-auth/facebook-auth.package.ts
  backend/src/libs/packages/facebook-auth/facebook-auth.ts
  backend/src/libs/packages/facebook-auth/libs/interfaces/facebook-auth.interfaces.ts
  backend/src/libs/packages/facebook-auth/libs/interfaces/interfaces.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/libs/types/types.ts
  frontend/.env.example
  frontend/package.json
  frontend/src/assets/img/icons/facebook-icon.svg
  frontend/src/index.tsx
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/share-on-facebook-icon/share-on-facebook-icon.tsx
  frontend/src/libs/components/share-on-facebook-icon/styles.module.scss
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
  frontend/src/packages/auth/auth-api.package.ts
  frontend/src/packages/auth/auth.ts
  frontend/src/packages/auth/libs/types/types.ts
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/facebook-login-button/facebook-login-button.tsx
  frontend/src/pages/auth/components/facebook-login-button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-with-facebook-responce-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared, root, ENV, wr-v2

#165 wr-138: articles infinite scroll
  backend/src/libs/constants/constants.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
  backend/src/libs/packages/server-application/libs/types/server-app-route-parameters.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/types/types.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/interfaces/article-repository.interface.ts
  backend/src/packages/articles/libs/interfaces/interfaces.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  frontend/package.json
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/infinite-scroll/infinite-scroll.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-pagination/libs/constants/constants.ts
  frontend/src/libs/hooks/use-pagination/libs/types/types.ts
  frontend/src/libs/hooks/use-pagination/libs/types/use-pagination-properties.type.ts
  frontend/src/libs/hooks/use-pagination/libs/types/use-pagination-return.type.ts
  frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  frontend/src/libs/packages/api/http-api.package.ts
  frontend/src/libs/packages/api/libs/types/http-api-options.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/articles-page.tsx
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/articles/styles.module.scss
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/constants/pagination.constant.ts
  shared/src/libs/helpers/construct-url/construct-url.helper.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/types/pagination-parameters.type.ts
  shared/src/libs/types/types.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/article-validation-rule.enum.ts
  shared/src/packages/articles/libs/types/article-get-all-response-dto.type.ts
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/types/types.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/validation-schemas.ts
Labels: development, backend, frontend, shared, root

#185 wr-95: Fix Implement avatar upload upon Profile editing
  backend/src/libs/packages/exceptions/file-size-limit-exceeded-error/file-size-limit-exceeded-error.exception.ts
Labels: development, backend, bug

#174 wr-15: fix the header on top of the page during scroll
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
Labels: development, frontend

#177 wr-9: Implement logout after auth token expired
  backend/src/libs/enums/enums.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/packages/api/http-api.package.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-message.enum.ts
Labels: development, backend, frontend, shared, root, wr-v1, bug

#189 wr-51: fix article card design bugs
  backend/src/packages/articles/article.repository.ts
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  package-lock.json
Labels: development, backend, frontend, root

#187 wr-167: article cover upload
  backend/src/db/migrations/20230907182905_add_cover_id_column.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/article-banner.jpg
  frontend/src/assets/img/article-preview.png
  frontend/src/assets/img/icons/trash-bin-icon.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/infinite-scroll/infinite-scroll.tsx
  frontend/src/libs/components/prompt-generation/libs/components/dot-loader/dot-loader.tsx
  frontend/src/libs/types/article.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/styles.module.scss
  frontend/src/pages/article/components/article-form/libs/components/components.ts
  frontend/src/pages/article/components/article-form/libs/constants/constants.ts
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  readme.md
  shared/src/packages/articles/libs/types/article-base-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-create-dto.type.ts
  shared/src/packages/articles/libs/types/article-entity.type.ts
  shared/src/packages/articles/libs/types/article-request-dto.type.ts
  shared/src/packages/articles/libs/types/article-with-author.type.ts
  shared/src/packages/articles/libs/validation-schemas/article-create.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/article-update.validation-schema.ts
Labels: development, backend, frontend, shared, root

#183 wr-146: fix-null-genre-display
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.repository.ts
  package-lock.json
  shared/src/packages/articles/libs/types/article-with-author.type.ts
Labels: development, backend, shared, root, bug

#179 wr-169: add-edit-article
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  frontend/src/pages/article/article.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/edit-article-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  shared/src/index.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
  shared/src/packages/articles/libs/types/article-update-request-payload.type.ts
  shared/src/packages/articles/libs/types/types.ts
Labels: development, backend, frontend, shared

#163 wr-137: Show user activity section in profile
  backend/src/libs/constants/constants.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/constants/constants.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/profile/components/components.ts
  frontend/src/pages/profile/components/user-activity/styles.module.scss
  frontend/src/pages/profile/components/user-activity/user-activity.tsx
  frontend/src/pages/profile/libs/constants/constants.ts
  frontend/src/pages/profile/libs/enums/activity-breakpoint.enum.ts
  frontend/src/pages/profile/libs/enums/activity-threshold.enum.ts
  frontend/src/pages/profile/libs/enums/enums.ts
  frontend/src/pages/profile/libs/helpers/get-activity-breakpoint/get-activity-breakpoint.helper.ts
  frontend/src/pages/profile/libs/helpers/get-unique-months/get-unique-months.helper.ts
  frontend/src/pages/profile/libs/helpers/helpers.ts
  frontend/src/pages/profile/profile-page.tsx
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/constants/index-increment.constant.ts
  shared/src/libs/enums/date-format.enum.ts
  shared/src/libs/helpers/get-difference-between-dates/get-difference-between-dates.helper.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/subtract-months-from-date/subtract-months-from-date.helper.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-activity-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared

#195 wr-193: add read time property to article
  backend/src/db/migrations/20230910082133_add_article_read_time_column.ts
  backend/src/libs/packages/openai/openai.package.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/constants/constants.ts
  backend/src/packages/articles/libs/helpers/get-article-read-time-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/get-detect-article-genre-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/prompts/libs/constants/constants.ts
  backend/src/packages/prompts/prompt.service.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/share-on-facebook-button/share-on-facebook-button.tsx
  frontend/src/libs/components/share-on-facebook-button/styles.module.scss
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/helpers/get-read-time-string.helper.ts
  frontend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/components.ts
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  readme.md
  shared/src/packages/articles/libs/types/article-base-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-entity.type.ts
Labels: development, backend, frontend, shared, root

#202 wr-192: Add hoverable tooltips on prompt tags
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/dropdown/styles.module.scss
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/libs/components/tag/styles.module.scss
  frontend/src/libs/components/text-editor/libs/components/toggle-buttons-group/styles.module.scss
  frontend/src/libs/components/text-editor/styles.module.scss
  frontend/src/libs/components/tooltip/tooltip-wrapper.tsx
  frontend/src/libs/enums/data-tooltip-id.enum.ts
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/styles.module.scss
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/components/tags/styles.module.scss
  frontend/src/pages/articles/components/tags/tags.tsx
  frontend/src/pages/articles/styles.module.scss
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/auth/components/auth-sign-in-button/styles.module.scss
  frontend/src/pages/auth/components/auth-submit-button/styles.module.scss
  frontend/src/pages/landing/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
  package-lock.json
Labels: development, frontend, root, wr-v3

#201 wr-15: Fix header margin on auth pages
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/header/styles.module.scss
Labels: development, frontend

#186 wr-172: Show user uploaded avatar in users header circle
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/users/user-details.model.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/slices/articles/articles.slice.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
Labels: development, backend, frontend, shared, bug

#196 wr-159: Unify loaders implementation
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
  frontend/src/libs/components/prompt-generation/libs/components/components.tsx
  frontend/src/libs/components/prompt-generation/libs/components/dot-loader/dot-loader.tsx
  frontend/src/libs/components/prompt-generation/libs/components/dot-loader/styles.module.scss
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/prompt-card.tsx
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
Labels: development, frontend, wr-v2

#205 wr-137: Show user activity in profile
  frontend/src/libs/helpers/get-publication-time/get-publication-time.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/profile/components/user-activity/styles.module.scss
  frontend/src/pages/profile/components/user-activity/user-activity.tsx
  shared/src/index.ts
  shared/src/libs/enums/date-format.enum.ts
  shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/make-plural-or-singular/make-plural-or-singular.helper.ts
Labels: development, frontend, shared, bug

#198 wr-161: Apply articles reaction flow from FE to BE
  backend/src/packages/article-reactions/article-reaction.controller.ts
  backend/src/packages/article-reactions/article-reaction.repository.ts
  backend/src/packages/article-reactions/article-reaction.service.ts
  backend/src/packages/article-reactions/libs/helpers/get-reactions-query.helper.ts
  backend/src/packages/article-reactions/libs/helpers/helpers.ts
  backend/src/packages/article-reactions/libs/types/types.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/types/types.ts
  frontend/src/assets/img/icons/dislike-icon.svg
  frontend/src/assets/img/icons/like-icon.svg
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/reaction.enum.ts
  frontend/src/libs/helpers/get-reactions-info/get-reactions-info.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/edit-article-page.tsx
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/libs/constants.ts
  frontend/src/pages/articles/libs/helpers/get-article-tags.ts
  frontend/src/pages/articles/libs/helpers/get-reaction-converted-to-boolean.helper.ts
  frontend/src/pages/articles/libs/helpers/helpers.ts
  frontend/src/pages/articles/libs/types/reactions.type.ts
  frontend/src/pages/articles/libs/types/types.ts
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  shared/src/index.ts
  shared/src/packages/article-reactions/article-reactions.ts
  shared/src/packages/article-reactions/libs/types/article-reaction-create-response-dto.type.ts
  shared/src/packages/article-reactions/libs/types/types.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/types/article-base-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-get-all-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-response-dto.type.ts
  shared/src/packages/articles/libs/types/article-with-relations.type.ts
  shared/src/packages/articles/libs/types/reaction-response-dto.type.ts
  shared/src/packages/articles/libs/types/types.ts
Labels: development, backend, frontend, shared, wr-v2

#173 wr-131: Add ability to share articles
  backend/src/libs/enums/enums.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/constants/constants.ts
  backend/src/packages/articles/libs/helpers/get-origin-from-referer-header.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/index.tsx
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/write-text-in-clip-board/write-text-in-clip-board.helper.ts
  frontend/src/libs/packages/api/http-api.package.ts
  frontend/src/libs/packages/api/libs/types/http-api-options.type.ts
  frontend/src/libs/packages/http/http.ts
  frontend/src/libs/packages/http/libs/enums/enums.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/pages/article/article.ts
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/constants/shared-token.constant.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/packages/http/http.ts
  shared/src/libs/packages/http/libs/enums/custom-http-header.enum.ts
  shared/src/libs/packages/http/libs/enums/enums.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
Labels: development, backend, frontend, shared, root

#217 wr-206: Link article preview to update action
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
  package-lock.json
Labels: development, frontend, root

#214 wr-190: Show real prompt data on article view
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/popover/popover.tsx
  frontend/src/libs/components/popover/styles.module.scss
  frontend/src/libs/components/tag/styles.module.scss
  frontend/src/libs/components/tag/tag.tsx
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/libs/components/tags/tags.tsx
  frontend/src/libs/helpers/get-article-tags/get-article-tags.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/types/tag.type.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/libs/helpers/get-article-view-tags.helper.ts
  frontend/src/pages/article/libs/helpers/helpers.ts
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/components.ts
  frontend/src/pages/articles/libs/helpers/helpers.ts
  frontend/src/pages/articles/libs/types/tag.type.ts
  frontend/src/pages/articles/libs/types/types.ts
  frontend/src/pages/articles/my-articles.tsx
Labels: development, frontend

#226 wr-01: Fix build failing with corrupted lock-file
  .github/workflows/ci.yml
  frontend/package.json
  frontend/src/pages/auth/components/facebook-login-button/facebook-login-button.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  package-lock.json
Labels: development, frontend, root, workflows, wr-v3

#211 wr-191: articles genres stats
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/types/get-user-articles-genres-stats-database-response.type.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.service.ts
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/profile/components/components.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/constants/constants.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/enums/enums.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/enums/genres-chart-config.enum.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/enums/other-genre.enum.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/helpers/helpers.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/helpers/normalize-genres-stats.helper.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/user-articles-genres-stats.tsx
  frontend/src/pages/profile/profile-page.tsx
  frontend/src/pages/profile/styles.module.scss
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-articles-genre-stats-item.type.ts
  shared/src/packages/users/libs/types/user-articles-genre-stats-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared, root

#219 wr-136: Fix Show achievements on Profile
  frontend/src/libs/components/tooltip/element-with-tooltip.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/tooltip-position-strategy.enum.ts
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
Labels: development, frontend, bug

#213 wr-207: No duplicate articles on my articles page
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
Labels: development, frontend, bug, wr-v3

#230 wr-220: Add functionality to the “Cancel” button in the article creation form
  frontend/src/libs/components/text-editor/libs/extensions/extensions.ts
  frontend/src/libs/components/text-editor/text-editor.tsx
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
  frontend/src/pages/article/components/article-form/libs/constants/constants.ts
Labels: development, frontend, bug

#216 wr-184: add article filtering
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/libs/helpers/get-where-author-id-query.helper.ts
  backend/src/packages/articles/libs/helpers/get-where-genre-id-query.helper.ts
  backend/src/packages/articles/libs/helpers/get-where-title-like-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/package.json
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/libs/helpers/check-is-equal/check-is-equal.helper.ts
  frontend/src/libs/helpers/clone-deep/clone-deep.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/hooks/use-deep-compare-effect/use-deep-compare-effect.hook.ts
  frontend/src/libs/hooks/use-pagination/libs/types/use-pagination-return.type.ts
  frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/genres/genres-api.package.ts
  frontend/src/packages/genres/genres.ts
  frontend/src/packages/genres/libs/enums/enums.ts
  frontend/src/packages/genres/libs/types/types.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/constants.ts
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/articles/components/components.ts
  frontend/src/pages/articles/libs/helpers/get-active-filters.helper.ts
  frontend/src/pages/articles/libs/helpers/get-select-options.helper.ts
  frontend/src/pages/articles/libs/helpers/helpers.ts
  frontend/src/pages/articles/libs/types/filter-form-values.type.ts
  frontend/src/pages/articles/libs/types/types.ts
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/articles/styles.module.scss
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/articles-form-filters-validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
Labels: development, backend, frontend, shared, root

#227 wr-53: fix styles for author component on article page
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  shared/src/libs/enums/date-format.enum.ts
Labels: development, frontend, shared, bug

#228 wr-225: Implement hover effects for all buttons
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
Labels: development, frontend

#212 wr-209: Make hoverable tooltips style identical on Prompt tags and Achievement tab
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/libs/components/tags/tags.tsx
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
Labels: development, frontend, wr-v3

#229 wr-130: Fix facebook integration
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/auth/components/components.tsx
  frontend/src/pages/auth/components/facebook-login-button/facebook-login-button.tsx
  frontend/src/pages/auth/components/facebook-login-button/facebook-login.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: development, frontend, wr-v2

#239 wr-184: fix-authors-filter
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/articles/libs/helpers/get-select-options.helper.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-details-author-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, frontend, shared, bug

#197 wr-170: Saving article redirection
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/libs/enums/article-sorting-key.enum.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/helpers/get-sorting-condition.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/libs/enums/article-sub-route.enum.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/edit-article-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/slices/prompts/prompts.slice.ts
  package-lock.json
Labels: development, backend, frontend, root, wr-v2

#240 wr-232: Add ability for authors to edit and delete their articles directly from the article viewing page
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/previous-page-index.constant.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-form/libs/constants/constants.ts
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/libs/constants/constants.ts
  frontend/src/pages/articles/components/article-card/article-card.tsx
Labels: development, frontend

#249 wr-01: Add actions navigation
  .eslintrc.yml
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/articles/article.service.ts
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/article-sub-route.enum.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/helpers/get-article-tags/get-article-tags.ts
  frontend/src/libs/helpers/get-reactions-info/get-reactions-info.helper.ts
  frontend/src/libs/packages/store/middlewares/notification-middleware.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/edit-article-page.tsx
  frontend/src/pages/articles/articles-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/libs/helpers/get-active-filters.helper.ts
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/auth/actions.ts
Labels: development, backend, frontend, wr-v4

#250 wr-244: Add to the select component the option to clear the field
  frontend/src/libs/components/select/libs/constants/select.styles.ts
  frontend/src/libs/components/select/libs/enums/color.enum.ts
  frontend/src/libs/components/select/libs/enums/colors.enum.ts
  frontend/src/libs/components/select/libs/enums/enums.ts
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/styles.module.scss
Labels: development, frontend

#256 wr-255: Add custom domains on cd config
  .github/workflows/cd.yml
Labels: development, workflows, wr-v4

#246 wr-194: article improvement suggestions
  backend/src/libs/packages/openai/openai.package.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/helpers/get-article-improvement-suggestions-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/get-article-read-time-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/get-detect-article-genre-completion-config.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/prompts/libs/constants/constants.ts
  backend/src/packages/prompts/libs/enums/article-prompt-completion-config.enum.ts
  backend/src/packages/prompts/libs/enums/enums.ts
  backend/src/packages/prompts/prompt.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/auto-fix-icon.svg
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/prompt-card.tsx
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/libs/components/text-editor/styles.module.scss
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/packages/storage/libs/enums/storage-key.enum.ts
  frontend/src/libs/packages/storage/storage.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/enums/enums.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/styles.module.scss
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/article-improvement-suggestions/article-improvement-suggestions.tsx
  frontend/src/pages/article/components/article-improvement-suggestions/libs/components/components.ts
  frontend/src/pages/article/components/article-improvement-suggestions/libs/components/suggestion-card/styles.module.scss
  frontend/src/pages/article/components/article-improvement-suggestions/libs/components/suggestion-card/suggestion-card.tsx
  frontend/src/pages/article/components/article-improvement-suggestions/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/components/components.ts
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/edit-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  frontend/src/slices/articles/libs/helpers/helpers.ts
  frontend/src/slices/articles/libs/helpers/parse-improvement-suggestions-json.helper.ts
  shared/src/index.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/article-improvement-suggestion-priority.enum.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
  shared/src/packages/articles/libs/enums/enums.ts
  shared/src/packages/articles/libs/types/article-get-improvement-suggestions-response-dto.ts
  shared/src/packages/articles/libs/types/article-improvement-suggestion.type.ts
  shared/src/packages/articles/libs/types/types.ts
Labels: development, backend, frontend, shared

#253 wr-90: assign unknown genre to article in case openai fails to detect it
  backend/src/db/migrations/20230917152623_add_unknown_genre.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/helpers/get-detect-article-genre-completion-config.helper.ts
  backend/src/packages/genres/genre.repository.ts
  backend/src/packages/genres/genre.ts
  backend/src/packages/genres/lib/constants/constants.ts
Labels: development, backend

#252 wr-243: Add save draft button on draft editing page
  frontend/src/pages/article/components/article-form/article-form.tsx
Labels: development, frontend

#242 wr-224: Show latest 5 user articles in user profile
  frontend/src/pages/profile/components/components.ts
  frontend/src/pages/profile/components/user-latest-articles/libs/enums/enums.ts
  frontend/src/pages/profile/components/user-latest-articles/libs/enums/own-articles-pagination-config.enum.ts
  frontend/src/pages/profile/components/user-latest-articles/styles.module.scss
  frontend/src/pages/profile/components/user-latest-articles/user-latest-articles.tsx
  frontend/src/pages/profile/profile-page.tsx
Labels: development, frontend

#258 wr-137: Show user activity section in profile
  frontend/src/pages/profile/components/user-activity/styles.module.scss
  frontend/src/pages/profile/components/user-activity/user-activity.tsx
Labels: development, frontend

#254 wr-235: Add scroll to top
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
Labels: development, frontend

#247 wr-200: Join Article actions to popover
  frontend/src/assets/img/icons/ellipsis-vertical-icon.svg
  frontend/src/assets/img/icons/pencil-edit-icon.svg
  frontend/src/assets/img/icons/trash-bin-icon.svg
  frontend/src/libs/components/header/dropdown/dropdown.tsx
  frontend/src/libs/components/header/dropdown/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/popover/popover.tsx
  frontend/src/libs/components/popover/styles.module.scss
  frontend/src/libs/components/text-editor/text-editor.tsx
  frontend/src/libs/components/tooltip/styles.module.scss
  frontend/src/libs/enums/tooltip-position.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/react/react.ts
  frontend/src/libs/hooks/use-deep-compare-effect/use-deep-compare-effect.hook.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  frontend/src/libs/hooks/use-modal/use-modal.hook.ts
  frontend/src/libs/hooks/use-mouse-position/use-mouse-position.hook.ts
  frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  frontend/src/libs/types/react.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-form/libs/components/article-cover-upload/article-cover-upload.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/libs/components/components.ts
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/popover-buttons-group.tsx
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/styles.module.scss
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/landing/landing.tsx
Labels: development, frontend

#260 wr-236: Add Reset button to the Prompt Generation component
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
Labels: development, frontend

#261 wr-215: author component for mobile and narrow screens
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/layout/styles.module.scss
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/articles/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/styles.module.scss
  package-lock.json
Labels: development, frontend, root, wr-v3

#268 wr-248: redirected to the login page when the token is unavailable
  frontend/src/libs/packages/api/http-api.package.ts
  frontend/src/libs/packages/api/libs/constants/constants.ts
  frontend/src/libs/packages/api/libs/constants/unauthorized-action-errors.constant.ts
Labels: development, frontend, bug, wr-v4

#271 wr-184: fix-author-filter-display
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  package-lock.json
Labels: development, frontend, root, bug

#262 wr-221: add-to-favourites-article-flow
  backend/src/db/migrations/20230914091351_create_favoured_user_articles_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.entity.ts
  backend/src/packages/articles/article.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/favoured-user-articles.model.ts
  backend/src/packages/articles/libs/helpers/get-is-favourite-subquery.helper.ts
  backend/src/packages/articles/libs/helpers/get-show-favourites-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/favourite-filled-icon.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/toggle-checkbox/styles.module.scss
  frontend/src/libs/components/toggle-checkbox/toggle-checkbox.tsx
  frontend/src/libs/helpers/conditionally-delete-or-update/conditionally-delete-or-update.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/popover-buttons-group.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/constants.ts
  frontend/src/pages/articles/libs/types/filter-form-values.type.ts
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
  shared/src/packages/articles/libs/types/article-with-relations.type.ts
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
Labels: development, backend, frontend, shared

#266 wr-233: Sort the articles in the 'My Articles' tab
  backend/src/packages/articles/libs/constants/constants.ts
  backend/src/packages/articles/libs/constants/sorting-condition/sorting-condition.constant.ts
  backend/src/packages/articles/libs/enums/article-sorting-key.enum.ts
  backend/src/packages/articles/libs/helpers/get-sorting-condition.helper.ts
Labels: development, backend

#269 wr-231: Implement a confirmation dialog for the article deletion feature
  frontend/src/assets/css/variables.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/popover-buttons-group.tsx
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/styles.module.scss
  frontend/src/pages/libs/components/components.ts
  frontend/src/pages/libs/components/confirm-article-delete-dialog/confirm-article-delete-dialog.tsx
  frontend/src/pages/libs/components/confirm-article-delete-dialog/styles.module.scss
  frontend/src/slices/articles/actions.ts
Labels: development, frontend, wr-v3

#277 wr-234: add ability to change article font size
  frontend/package.json
  frontend/src/assets/img/icons/text-decrease-icon.svg
  frontend/src/assets/img/icons/text-increase-icon.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/text-editor/libs/components/toolbar/toolbar.tsx
  frontend/src/libs/components/text-editor/libs/constants/constants.ts
  frontend/src/libs/components/text-editor/libs/constants/toolbar.ts
  frontend/src/libs/components/text-editor/libs/enums/enums.ts
  frontend/src/libs/components/text-editor/libs/enums/header-level.enum.ts
  frontend/src/libs/components/text-editor/libs/enums/list-type.enum.ts
  frontend/src/libs/components/text-editor/libs/enums/text-alignment.enum.ts
  frontend/src/libs/components/text-editor/libs/enums/text-decoration.enum.ts
  frontend/src/libs/components/text-editor/libs/enums/text-size.enum.ts
  frontend/src/libs/components/text-editor/libs/enums/text-style.enum.ts
  frontend/src/libs/components/text-editor/libs/extensions/extensions.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/font-size.extension.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/constants/config.constant.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/constants/constants.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/helpers/convert-font-size-to-number.helper.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/helpers/decrement-font-size.helper.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/helpers/helpers.ts
  frontend/src/libs/components/text-editor/libs/extensions/font-size/libs/helpers/increment-font-size.helper.ts
  frontend/src/libs/components/text-editor/text-editor.tsx
  package-lock.json
Labels: development, frontend, root

#270 wr-259: Add like and dislike buttons to article page
  frontend/src/libs/helpers/get-reaction-converted-to-boolean/get-reaction-converted-to-boolean.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/libs/helpers/helpers.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/libs/helpers/helpers.ts
  frontend/src/slices/articles/libs/helpers/remove-reaction.helper.ts
  frontend/src/slices/articles/libs/helpers/update-reaction.helper.ts
Labels: development, frontend

#283 wr-274: make draft and publish buttons disabled while saving
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/slices/articles/articles.slice.ts
Labels: development, frontend

#278 wr-263: add the scroll to top button
  frontend/src/assets/img/icons/scroll-arrow-up-icon.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/scroll-to-top-button/libs/enums.ts
  frontend/src/libs/components/scroll-to-top-button/libs/scroll-value.enum.ts
  frontend/src/libs/components/scroll-to-top-button/scroll-to-top-button.tsx
  frontend/src/libs/components/scroll-to-top-button/styles.module.scss
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/my-articles.tsx
  package-lock.json
Labels: development, frontend, root, wr-v4

#280 wr-223: Add ability to follow specific author
  backend/src/db/migrations/20230915125423_create_user_following_authors_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/follow/follow.model.ts
  backend/src/packages/follow/follow.repository.ts
  backend/src/packages/follow/follow.service.ts
  backend/src/packages/follow/follow.ts
  backend/src/packages/follow/libs/types/types.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/follow-status.enum.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/libs/components/popover-buttons-group/popover-buttons-group.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  frontend/src/slices/articles/libs/helpers/remove-reaction.helper.ts
  frontend/src/slices/articles/libs/helpers/update-reaction.helper.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
  shared/src/index.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/types/article-with-follow-response-dto.type.ts
  shared/src/packages/articles/libs/types/types.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-follow-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: development, backend, frontend, shared

#289 wr-264: Implement styles to print the articles
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/shared-article-page.tsx
  frontend/src/pages/article/styles.module.scss
Labels: development, frontend

#284 wr-237: add genre check for articles with prompt
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/libs/helpers/get-detect-article-genre-completion-config.helper.ts
  backend/src/packages/genres/genre.repository.ts
Labels: development, backend

#272 wr-267: Fix the comment icon redirect
  frontend/src/pages/article/components/article-view/article-view.tsx
Labels: development, frontend

#298 wr-281: Prompt component for mobile/narrow screens
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/prompt-card.tsx
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/styles.module.scss
Labels: development, frontend, wr-v4

#311 wr-274: Fix navigation after publishing draft article
  frontend/src/slices/articles/actions.ts
Labels: development, frontend

#309 wr-292: Add styles to user details from design
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/comment-icon.svg
  frontend/src/assets/img/icons/share-icon.svg
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/comment-form/style.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/auth/components/auth-sign-in-button/styles.module.scss
  frontend/src/pages/auth/components/facebook-login-button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-activity/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/styles.module.scss
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/components/user-info/user-info.tsx
  frontend/src/pages/profile/components/user-latest-articles/styles.module.scss
  frontend/src/pages/profile/styles.module.scss
Labels: development, frontend

#302 wr-286: article-editing-page-mobile
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/text-editor/libs/components/toolbar/styles.module.scss
  frontend/src/pages/article/components/article-improvement-suggestions/styles.module.scss
  frontend/src/pages/article/styles.module.scss
  package-lock.json
Labels: development, frontend, root

#301 wr-294: Fix the access to the deleted article page
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
Labels: development, backend, wr-v4

#303 wr-287: Add ability to share articles with the registered users
  backend/src/packages/articles/article.controller.ts
  backend/src/packages/articles/article.service.ts
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/shared-article-route/shared-article-route.tsx
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  shared/src/packages/articles/libs/enums/articles-api-path.enum.ts
Labels: development, backend, frontend, shared

#295 wr-282: add filters to genre stats chart
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/articles/libs/enums/enums.ts
  backend/src/packages/articles/libs/helpers/get-article-pubished-status-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  backend/src/packages/articles/libs/types/types.ts
  backend/src/packages/articles/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/hooks/use-deep-compare-effect/use-deep-compare-effect.hook.ts
  frontend/src/packages/articles/articles.ts
  frontend/src/packages/articles/libs/enums/enums.ts
  frontend/src/packages/articles/libs/types/types.ts
  frontend/src/packages/users/users-api.package.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/constants/article-status-select-options.constant.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/constants/constants.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/user-articles-genres-stats.tsx
  frontend/src/slices/users/actions.ts
  shared/src/index.ts
  shared/src/packages/articles/articles.ts
  shared/src/packages/articles/libs/enums/article-publish-status.enum.ts
  shared/src/packages/articles/libs/enums/enums.ts
  shared/src/packages/articles/libs/types/article-genre-stats-filters.type.ts
  shared/src/packages/articles/libs/types/types.ts
  shared/src/packages/articles/libs/validation-schemas/article-genre-stats-filters-validation-schema.ts
  shared/src/packages/articles/libs/validation-schemas/validation-schemas.ts
Labels: development, backend, frontend, shared

#276 wr-203: Add achievements checking functionality
  backend/src/db/migrations/20230913104330_create_users_achievements_table.ts
  backend/src/db/migrations/20230913114720_add_breakpoint_and_reference_table_columns_to_achievements.ts
  backend/src/db/migrations/20230920200620_record_achieved_achievements_in_users_achievements_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/achievements/achievement.controller.ts
  backend/src/packages/achievements/achievement.entity.ts
  backend/src/packages/achievements/achievement.model.ts
  backend/src/packages/achievements/achievement.repository.ts
  backend/src/packages/achievements/achievement.service.ts
  backend/src/packages/achievements/achievements.ts
  backend/src/packages/achievements/libs/enums/enums.ts
  backend/src/packages/achievements/libs/types/reference-table.type.ts
  backend/src/packages/achievements/libs/types/reference-tables-counts.type.ts
  backend/src/packages/achievements/libs/types/types.ts
  backend/src/packages/achievements/user-achievements.model.ts
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/comments/comment.repository.ts
  backend/src/packages/comments/comment.service.ts
  backend/src/packages/comments/comments.ts
  frontend/src/packages/achievements/achievements-api.package.ts
  frontend/src/packages/achievements/achievements.ts
  frontend/src/packages/achievements/libs/enums/enums.ts
  frontend/src/packages/achievements/libs/types/types.ts
  frontend/src/pages/profile/components/achievement-list/achievement-list.tsx
  frontend/src/pages/profile/components/achievement-tooltip-content/achievement-tooltip-content.tsx
  frontend/src/pages/profile/components/achievement/achievement.tsx
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
  frontend/src/pages/profile/libs/constants/constants.ts
  frontend/src/pages/profile/libs/helpers/get-progress-style-class.helper.ts
  frontend/src/pages/profile/libs/types/types.ts
  frontend/src/pages/profile/libs/types/user-achievement.ts
  frontend/src/slices/achievements/achievements.slice.ts
  frontend/src/slices/achievements/achievements.ts
  frontend/src/slices/achievements/actions.ts
  readme.md
  shared/src/index.ts
  shared/src/packages/achievements/achievements.ts
  shared/src/packages/achievements/libs/enums/achievements-api-path.enum.ts
  shared/src/packages/achievements/libs/enums/enums.ts
  shared/src/packages/achievements/libs/enums/percentage-progress.enum.ts
  shared/src/packages/achievements/libs/types/achievement-base-response-dto.type.ts
  shared/src/packages/achievements/libs/types/achievement-with-progress-response-dto.type.ts
  shared/src/packages/achievements/libs/types/achievement.type.ts
  shared/src/packages/achievements/libs/types/types.ts
  shared/src/packages/achievements/libs/types/user-achievement.type.ts
Labels: development, backend, frontend, shared, root, wr-v3

#299 wr-265: Fix the layout
  .eslintrc.yml
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/icons/book-icon.svg
  frontend/src/assets/img/icons/filter-icon.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/select/libs/constants/select.styles.ts
  frontend/src/libs/components/select/libs/enums/color.enum.ts
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/window-breakpoint.enum.ts
  frontend/src/libs/helpers/check-is-passing-window-breakpoint/check-is-passing-window-breakpoint.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-get-window-dimensions/use-get-window-dimensions.hook.ts
  frontend/src/libs/hooks/use-modal/use-modal.hook.ts
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/articles/components/articles-list/articles-list.tsx
  frontend/src/pages/articles/components/articles-list/styles.module.scss
  frontend/src/pages/articles/components/components.ts
  frontend/src/pages/articles/components/empty-articles-placeholder/empty-articles-placeholder.tsx
  frontend/src/pages/articles/components/empty-articles-placeholder/styles.module.scss
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/articles/styles.module.scss
  frontend/src/pages/auth/components/password-input/password-input.tsx
  frontend/src/pages/auth/components/password-input/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/components/components.ts
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/components/genres-list/genres-list.tsx
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/components/genres-list/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/user-articles-genres-stats.tsx
  frontend/src/pages/profile/components/user-info/styles.module.scss
  package-lock.json
Labels: development, frontend, root

#312 wr-225: * small style fixes
  frontend/src/assets/img/icons/comment-icon.svg
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
  frontend/src/pages/profile/components/user-info/styles.module.scss
Labels: development, frontend

#316 wr-01: Add custom styling for notifications
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/notification/notification.tsx
  frontend/src/libs/components/notification/styles.module.scss
  frontend/src/libs/enums/components/notification/notification-position.enum.ts
  frontend/src/libs/enums/components/notification/notification-theme.enum.ts
  frontend/src/libs/enums/components/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/notification-middleware.ts
  frontend/src/packages/notification/libs/enums/enums.ts
  frontend/src/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/packages/notification/libs/types/notification-payload.type.ts
  frontend/src/packages/notification/notification.package.ts
  frontend/src/packages/notification/notification.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Labels: development, frontend, wr-v4

#318 wr-01: Articles layout improvements
  frontend/src/libs/components/comment-card/comment-card.tsx
  frontend/src/libs/components/comment-card/styles.module.scss
  frontend/src/libs/components/layout/styles.module.scss
  frontend/src/libs/components/scroll-to-top-button/styles.module.scss
  frontend/src/libs/components/tags/tags.tsx
  frontend/src/libs/components/text-editor/styles.module.scss
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/constants.ts
  frontend/src/pages/articles/components/article-filters/libs/constants/default-filter-payload.constant.ts
  frontend/src/pages/articles/components/article-filters/libs/constants/filters-form-submission-delay.constant.ts
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/articles/components/articles-list/styles.module.scss
  frontend/src/pages/articles/components/empty-articles-placeholder/empty-articles-placeholder.tsx
  frontend/src/pages/articles/components/empty-articles-placeholder/styles.module.scss
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/articles/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
Labels: development, frontend, wr-v4

#319 wr-01: Move loader to articles list
  frontend/src/libs/components/infinite-scroll/infinite-scroll.tsx
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/articles/components/articles-list/articles-list.tsx
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/pages/articles/styles.module.scss
Labels: development, frontend, wr-v4

#317 wr-245: common button component updates
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/comment-form/comment-form.tsx
  frontend/src/pages/article/components/comment-form/style.module.scss
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/styles.module.scss
  frontend/src/pages/auth/components/auth-sign-in-button/auth-sign-in-button.tsx
  frontend/src/pages/auth/components/auth-sign-in-button/styles.module.scss
  frontend/src/pages/auth/components/auth-submit-button/auth-submit-button.tsx
  frontend/src/pages/auth/components/auth-submit-button/styles.module.scss
  frontend/src/pages/auth/components/components.tsx
  frontend/src/pages/auth/components/facebook-login-button/facebook-login-button.tsx
  frontend/src/pages/auth/components/facebook-login-button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/libs/components/confirm-article-delete-dialog/confirm-article-delete-dialog.tsx
  frontend/src/pages/libs/components/confirm-article-delete-dialog/styles.module.scss
  frontend/src/pages/profile/components/profile-edit-form/profile-edit-form.tsx
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/components/user-info/user-info.tsx
Labels: development, frontend

#339 wr-234: fix-toolbar-buttons-order
  frontend/src/libs/components/text-editor/libs/components/toolbar/toolbar.tsx
Labels: development, frontend

#338 wr-184: fix-article-doubling
  frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/my-articles.tsx
  package-lock.json
Labels: development, frontend, root, bug

#340 wr-184: fix-modal-filters-reset
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/my-articles.tsx
Labels: development, frontend

#330 wr-291: Rework latest articles section to look like on the design
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/profile/components/article-short-card/article-short-card.tsx
  frontend/src/pages/profile/components/article-short-card/styles.module.scss
  frontend/src/pages/profile/components/user-latest-articles/styles.module.scss
  frontend/src/pages/profile/components/user-latest-articles/user-latest-articles.tsx
  frontend/src/pages/profile/profile-page.tsx
Labels: development, frontend

#326 wr-293: achievements redesign
  frontend/src/assets/img/articles-achievement.svg
  frontend/src/assets/img/comments-achievement.svg
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/profile/components/achievement-icon/achievement-icon.tsx
  frontend/src/pages/profile/components/achievement-icon/common.ts
  frontend/src/pages/profile/components/achievement-list/achievement-list.tsx
  frontend/src/pages/profile/components/achievement-list/styles.module.scss
  frontend/src/pages/profile/components/achievement/achievement.tsx
  frontend/src/pages/profile/components/achievement/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
  frontend/src/pages/profile/libs/enums/achievement-item-config.enum.ts
  frontend/src/pages/profile/libs/enums/achievement-status-threshold.enum.ts
  frontend/src/pages/profile/libs/enums/enums.ts
  frontend/src/pages/profile/libs/enums/progress-status-class.enum.ts
  frontend/src/pages/profile/libs/helpers/get-progress-style-class.helper.ts
  frontend/src/pages/profile/libs/helpers/get-radial-progress-style-string.helper.ts
  frontend/src/pages/profile/libs/helpers/helpers.ts
Labels: development, frontend

#342 wr-01: Fix reactions relation join to articles for pagination
  backend/src/packages/articles/article.repository.ts
Labels: development, backend, wr-v5

#344 wr-336: Remove the Follow button from a shared article page
  frontend/src/pages/article/components/article-view/article-view.tsx
Labels: development, frontend

#343 wr-296: fix-placeholder-and-text-displaying
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/libs/components/prompt-generation/prompt-generation.tsx
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/libs/components/text-editor/text-editor.tsx
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
Labels: development, frontend

#341 wr-245: fix create comment loading status
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/comment-form/comment-form.tsx
  frontend/src/slices/articles/articles.slice.ts
Labels: development, frontend

#345 wr-281: Fix prompt generation component for narrow screens
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/popover/styles.module.scss
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/libs/components/confirm-article-delete-dialog/confirm-article-delete-dialog.tsx
  frontend/src/pages/libs/components/confirm-article-delete-dialog/styles.module.scss
Labels: development, frontend, bug, wr-v4

#346 wr-315: Mark the author's name as clickable
  frontend/src/assets/img/icons/info-icon.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/popover/popover.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/articles/components/article-card/article-card.tsx
Labels: development, frontend

#313 wr-300: Add like/dislike buttons on the fixed panel
  frontend/src/pages/article/article-page.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  package-lock.json
Labels: development, frontend, root, wr-v4

#348 wr-325: Add the Scroll-to-Top button to the Article page
  frontend/src/pages/article/article-page.tsx
Labels: development, frontend

#347 wr-329: Remove Write link from narrow screens
  frontend/src/libs/components/header/styles.module.scss
  package-lock.json
Labels: development, frontend, root

#354 wr-331: new article notification
  backend/src/libs/packages/socket/socket.ts
  backend/src/packages/articles/article-socket.service.ts
  backend/src/packages/articles/article.service.ts
  backend/src/packages/articles/articles.ts
  backend/src/packages/follow/follow.repository.ts
  frontend/src/slices/articles/actions.ts
  shared/src/packages/articles/libs/types/article-socket-event-payload.type.ts
Labels: development, backend, frontend, shared

#362 wr-297: Profile page for mobile/narrow screens
  frontend/src/assets/css/breakpoints.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/articles-achievement.svg
  frontend/src/assets/img/comments-achievement.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/layout/styles.module.scss
  frontend/src/libs/components/spoiler/spoiler.tsx
  frontend/src/libs/components/spoiler/styles.module.scss
  frontend/src/pages/profile/components/achievement-list/achievement-list.tsx
  frontend/src/pages/profile/components/achievement/achievement.tsx
  frontend/src/pages/profile/components/achievement/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/styles.module.scss
  frontend/src/pages/profile/components/user-achievements/user-achievements.tsx
  frontend/src/pages/profile/components/user-activity/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/user-articles-genres-stats.tsx
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/components/user-info/user-info.tsx
  frontend/src/pages/profile/components/user-latest-articles/styles.module.scss
  frontend/src/pages/profile/profile-page.tsx
  frontend/src/pages/profile/styles.module.scss
Labels: development, frontend, wr-v5

#359 wr-349: Show notification about subscribing/unsubscribing
  frontend/src/packages/users/libs/types/author-follow-details.type.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/article/article-page.tsx
  frontend/src/slices/users/actions.ts
Labels: development, frontend

#307 wr-273: Save article content in case the token expires
  frontend/src/libs/components/text-editor/text-editor.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/packages/storage/libs/enums/storage-key.enum.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
  frontend/src/slices/articles/articles.ts
  frontend/src/slices/prompts/prompts.slice.ts
  package-lock.json
Labels: development, frontend, root, wr-v4

#364 wr-327: Fix the Add to favourite icon issue on the article's page
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/article.service.ts
  frontend/src/packages/articles/articles-api.package.ts
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-view/article-view.tsx
  frontend/src/slices/articles/actions.ts
  frontend/src/slices/articles/articles.slice.ts
Labels: development, backend, frontend

#361 wr-314: Add sorting to the filters, redesign the Follow button, remove the dropdown menu for articles by other users
  backend/src/packages/genres/genre.repository.ts
  backend/src/packages/users/user.repository.ts
  frontend/src/libs/components/prompt-generation/styles.module.scss
  frontend/src/pages/article/components/article-details/article-details.tsx
  frontend/src/pages/article/components/article-details/styles.module.scss
  frontend/src/pages/article/create-article-page.tsx
  frontend/src/pages/article/styles.module.scss
  frontend/src/pages/articles/components/article-card/article-card.tsx
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
Labels: development, backend, frontend, wr-v4

#366 wr-137: Show user activity section in Profile
  frontend/src/pages/profile/components/user-activity/styles.module.scss
Labels: development, frontend

#367 wr-353: Remove the gray circle when hovering over the button, fix the text overlap issue
  frontend/src/assets/img/icons/ellipsis-vertical-icon.svg
  frontend/src/assets/img/icons/favorite-icon.svg
  frontend/src/assets/img/icons/favourite-filled-icon.svg
  frontend/src/assets/img/icons/pencil-edit-icon.svg
  frontend/src/pages/article/components/article-view/styles.module.scss
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
  frontend/src/pages/profile/components/user-latest-articles/styles.module.scss
Labels: development, frontend, wr-v5

#369 wr-352: Limit the height of the dropdown menu add padding from the search icon
  frontend/src/libs/components/select/libs/constants/select.styles.constant.ts
  frontend/src/pages/articles/components/article-filters/styles.module.scss
Labels: development, frontend, wr-v5

#370 wr-282: genre-stats-only-for-non-deleted-articles
  backend/src/packages/articles/libs/helpers/get-article-published-status-query.helper.ts
Labels: development, backend

#368 wr-322: add-prompt-usage-confirmation
  frontend/src/libs/components/toggle-checkbox/libs/constants/constants.ts
  frontend/src/libs/components/toggle-checkbox/libs/constants/toggle-checkbox-id.constant.ts
  frontend/src/libs/components/toggle-checkbox/toggle-checkbox.tsx
  frontend/src/pages/article/components/article-form/article-form.tsx
  frontend/src/pages/article/components/article-form/styles.module.scss
  frontend/src/pages/article/components/components.ts
  frontend/src/pages/article/components/prompt-confirmation/libs/constants/constants.ts
  frontend/src/pages/article/components/prompt-confirmation/libs/helpers/get-confirmed-prompts.helper.ts
  frontend/src/pages/article/components/prompt-confirmation/libs/helpers/helpers.ts
  frontend/src/pages/article/components/prompt-confirmation/libs/types/types.ts
  frontend/src/pages/article/components/prompt-confirmation/prompt-confirmation-form.tsx
  frontend/src/pages/article/components/prompt-confirmation/styles.module.scss
  frontend/src/slices/articles/actions.ts
  package-lock.json
Labels: development, frontend, root

#371 wr-238: Modify the chart colors on Genres Stats
  frontend/src/libs/components/prompt-generation/libs/components/prompt-card/styles.module.scss
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/constants/constants.ts
Labels: development, frontend, wr-v5

#373 wr-238: Fixed colors on Genres Stats
  frontend/src/pages/profile/components/user-articles-genres-stats/libs/constants/constants.ts
Labels: development, frontend

#372 wr-321: Adjust layout to wide screens
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/layout/layout.tsx
  frontend/src/libs/components/layout/styles.module.scss
  frontend/src/pages/articles/components/article-card/styles.module.scss
  frontend/src/pages/auth/components/auth-layout/styles.module.scss
  frontend/src/pages/profile/components/avatar-wrapper/styles.module.scss
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/styles.module.scss
Labels: development, frontend

#376 wr-332: On articles page add articles by followed author filter
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/libs/helpers/get-followed-authors-articles.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/libs/components/toggle-checkbox/styles.module.scss
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/default-filter-payload.constant.ts
  frontend/src/pages/articles/libs/types/filter-form-values.type.ts
  frontend/src/pages/articles/my-articles.tsx
  readme.md
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
Labels: development, backend, frontend, shared, root, wr-v5

#374 wr-296: fix-tooltip-display
  frontend/src/libs/components/popover/popover.tsx
  frontend/src/pages/article/create-article-page.tsx
  package-lock.json
Labels: development, frontend, root

#377 wr-328: Fix the displaying articles on mobile narrow screens
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/tags/libs/constants/constants.ts
  frontend/src/libs/components/tags/libs/constants/single-element-array-length.constant.ts
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/libs/components/tags/tags.tsx
Labels: development, frontend

#380 wr-328: fix the displaying articles on mobile narrow screens
  frontend/src/libs/components/tags/styles.module.scss
Labels: development, frontend

#381 wr-335: Fix loader display issue on the Feed/My Article page
  frontend/src/libs/components/infinite-scroll/infinite-scroll.tsx
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/articles-list/articles-list.tsx
  frontend/src/pages/articles/my-articles.tsx
  frontend/src/slices/articles/articles.slice.ts
  package-lock.json
Labels: development, frontend, root

#390 wr-337: add-expiration-notice-to-email
  backend/src/libs/packages/mailer/libs/templates/reset-password-template/reset-password-template.pug
Labels: development, backend

#393 wr-382: Decrease spacing between avatar and author information
  frontend/src/pages/article/components/article-details/styles.module.scss
Labels: development, frontend

#394 wr-386: add-published-articles-filter
  backend/src/packages/articles/article.repository.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/default-filter-payload.constant.ts
  frontend/src/pages/articles/libs/types/filter-form-values.type.ts
  frontend/src/pages/articles/my-articles.tsx
  package-lock.json
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
Labels: development, backend, frontend, shared, root

#392 wr-389: On My articles page add Draft articles filter
  backend/src/packages/articles/article.repository.ts
  backend/src/packages/articles/libs/helpers/get-show-drafts-query.helper.ts
  backend/src/packages/articles/libs/helpers/helpers.ts
  frontend/src/pages/articles/articles-feed.tsx
  frontend/src/pages/articles/components/article-filters/article-filters.tsx
  frontend/src/pages/articles/components/article-filters/libs/constants/default-filter-payload.constant.ts
  frontend/src/pages/articles/libs/types/filter-form-values.type.ts
  frontend/src/pages/articles/my-articles.tsx
  shared/src/packages/articles/libs/types/articles-filters.type.ts
  shared/src/packages/articles/libs/validation-schemas/articles-filters.validation-schema.ts
Labels: development, backend, frontend, shared, wr-v5

#395 wr-384: Move Edit Profile form to modal
  frontend/src/pages/profile/components/profile-edit-form/styles.module.scss
  frontend/src/pages/profile/components/user-info/styles.module.scss
  frontend/src/pages/profile/components/user-info/user-info.tsx
Labels: development, frontend

#400 wr-396: Quality criteria v2 fixes
  frontend/src/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/helpers/get-shuffled-array/get-shuffled-array.helper.ts
  shared/src/libs/helpers/helpers.ts
Labels: development, frontend, shared, wr-v5

#401 wr-322: prompt-confirmation-for-mobile
  frontend/src/assets/css/breakpoints.scss
  frontend/src/libs/components/tags/styles.module.scss
  frontend/src/pages/article/components/prompt-confirmation/prompt-confirmation-form.tsx
  frontend/src/pages/article/components/prompt-confirmation/styles.module.scss
Labels: development, frontend

#409 wr-405: Fix loader inside share popover
  frontend/src/libs/components/share-popover/share-group.tsx
  frontend/src/libs/components/share-popover/styles.module.scss
Labels: development, frontend
